html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 767px) {
    font-size: 18px;
  }
  &.js-lock {
    overflow: hidden;
  }
}

a:focus, a:active, input:focus, textarea:focus, select:focus, button:focus {
  outline: 1px dashed #ca000a;
  outline-offset: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-lg {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-xl {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lazyload,
.lazyloading {
  opacity: 0.001;
}
.lazyloaded {
  opacity: 1;
  transition: opacity .3s;
}
img.lazyload:not([src]) {
  visibility: hidden;
}

/* one-click-toggle */
.one-click-toggle {
  display: none;
  @media (min-width: 1023px) {
    display: block;
    position: fixed;
    top: 40%;
    right: 0;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to right,#43bfe8 0,#3dbbd0 77%);
    max-width: 106px;
    max-height: 101px;
    height: 100%;
    padding: 12px;
    color: $base;
    text-align: center;
    transition: opacity .2s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      font-size: 20px;
      margin-bottom: 5px;
    }
    span {
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      width: 100%;
    }
    &:hover {
      opacity: .8;
    }
  }
}



/* logo */
.logo {
  display: block;
  img {
    display: block;
  }
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25px;
  width: 100%;
  z-index: 5;
  @media (min-width: 767px) {
    padding-top: 35px;
  }
  @media (min-width: 1024px) {
    padding-top: 55px;
  }
}
.header__inner {
  display: flex;
}
.header__components {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  @media (min-width: 767px) {
    padding-right: 12px;
  }
}

/* menu-btn */
.menu-btn {
  flex: none;
  position: relative;
  width: 54px;
  height: 54px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $accent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
  &:hover, &:focus {
    background-color: $base;
  }
  &:hover .menu-btn__line,
  &:focus .menu-btn__line {
    background-color: #fff;
  }
  @media (min-width: 767px) {
    width: 75px;
    height: 75px;
  }
}
.menu-btn__line {
  width: 14px;
  height: 2px;
  background-color: $base;
  transition: background-color .3s;
  &--top {
    transform: translateY(-3px);
  }
  &--bottom {
    transform: translateY(3px);
  }
  @media (min-width: 767px) {
    width: 17px;
    &--top {
      transform: translateY(-4px);
    }
    &--bottom {
      transform: translateY(4px);
    }
  }
}

/* social-networks */
.social-networks {
  display: none;
  &--margin {
    margin: 0 12px 0 0;
  }
  @media (min-width: 1023px) {
    display: flex;
  }
}
.social-networks__item {
  &:not(:first-child) {
    border-left: 1px solid #fff;
  }
}
.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 32px;
  color: #fff;
  transition: color .2s;
  &:hover, &:focus {
    color: $accent;
  }
}

/* search-form */
.search-form {
  border: 1px solid #fff;
  max-width: 663px;
  width: 100%;
  height: 44px;
  &--margin {
    margin: 0 10px;
  }
  @media (min-width: 479px) {
    &--margin {
      margin: 0 29px;
    }
  }
  @media (min-width: 767px) {
    height: 62px;
  }
}
.search-form__field {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-form__input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 0 50px 0 15px;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  &::placeholder {
    color: #fff;
  }
  @media (min-width: 767px) {
    padding: 0 60px 0 20px;
  }
  @media (min-width: 1023px) {
    font-size: 18px;
    padding: 0 75px 0 25px;
  }
}
.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color .2s;
  padding: 0;
  font-size: 16px;
  &:hover, &:focus {
    color: $accent;
  }
  @media (min-width: 479px) {
    width: 60px;
  }
  @media (min-width: 767px) {
    font-size: 18px;
    width: 75px;
  }
}

/* navigation */
.navigation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $base;
  padding: 20px 10px;
  width: 100%;
  min-height: 100vh;
  @media (min-width: 479px) {
    padding: 30px 45px;
  }
  @media (min-width: 630px) {
    max-width: 630px;
    padding: 48px 80px;
  }
  a:focus, button:focus {
    outline-color: $foreground;
    outline-offset: -1px;
  }
}

/* menu */
.menu {
  padding: 20px 0 0;
  @media (min-width: 479px) {
    padding: 40px 0 0;
  }
  @media (min-width: 1023px) {
    padding: 60px 0 0;
  }
}

.menu__item {
  position: relative;
  border-top: 1px solid $foreground;
  &:last-child {
    border-bottom: 1px solid $foreground;
  }
}
.menu__link {
  font-size: 20px;
  font-weight: 700;
  color: $foreground;
  padding: 9px 7px;
  display: inline-block;
  text-transform: uppercase;
  width: calc(100% - 30px);
  transition: color .2s;
  &:hover, &:focus, &:active {
    color: $accent;
  }
  @media (min-width: 479px) {
    font-size: 22px;
    padding: 13px 7px;
    width: calc(100% - 36px);
  }
  @media (min-width: 1023px) {
    font-size: 26px;
    padding: 19px 7px;
    width: calc(100% - 42px);
  }
}

.submenu__item {
  position: relative;
  .menu__toggle-btn {
    height: 25px;
    font-size: 16px;
    color: #fff;
    @media (min-width: 479px) {
      height: 31px;
      font-size: 18px;
    }
    @media (min-width: 1023px) {
      height: 34px;
      font-size: 20px;
    }
  }
}
.submenu__link {
  font-size: 17px;
  color: #fff;
  padding: 0 20px;
  display: inline-block;
  text-transform: uppercase;
  width: calc(100% - 30px);
  transition: color .2s;
  &:hover, &:focus, &:active {
    color: $accent;
  }
  @media (min-width: 479px) {
    font-size: 18px;
    padding: 2px 20px;
    width: calc(100% - 36px);
  }
  @media (min-width: 1023px) {
    font-size: 20px;
    width: calc(100% - 42px);
  }
}

.submenu--lvl2 {
  padding: 10px 0;
  .submenu__item {
    padding: 0 55px;
  }
  .submenu__link {
    font-size: 16px;
    text-transform: none;
    width: 100%;
    padding: 0 10px;
    @media (min-width: 479px) {
      font-size: 18px;
      padding: 2px 10px;
    }
  }
}

.menu__toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $foreground;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 26px;
  transition: color .2s;
  &:hover, &:focus, &:active {
    color: $accent;
  }
  @media (min-width: 479px) {
    width: 36px;
    height: 59px;
    font-size: 28px;
    &::before {
      margin-top: -2px;
    }
  }
  @media (min-width: 1023px) {
    width: 42px;
    height: 77px;
    font-size: 30px;
    &::before {
      margin-top: -4px;
    }
  }
}

.close-menu-btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $foreground;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 24px;
  transition: color .2s;
  &--margin {
    margin-left: auto;
  }
  &:hover, &:focus {
    color: #fff;
  }
  @media (min-width: 479px) {
    font-size: 28px;
  }
  @media (min-width: 1023px) {
    font-size: 32px;
  }
}

/* hero */
.hero {
  position: relative;
  //min-height: calc(100vh - 120px);
  &::before, &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  &::before {
    height: 357px;
    top: 0;
    background: linear-gradient(to bottom,rgba(33,40,81,0.91) 0,rgba(33,40,81,0.78) 19%,rgba(33,40,81,0.66) 31%,rgba(33,40,81,0.17) 77%,rgba(33,40,81,0.09) 86%,rgba(33,40,81,0) 100%);
  }
  &::after {
    height: 250px;
    bottom: 0;
    background: linear-gradient(to bottom,rgba(33,40,81,0) 0,rgba(33,40,81,0.09) 14%,rgba(33,40,81,0.17) 23%,rgba(33,40,81,0.66) 69%,rgba(33,40,81,0.78) 81%,rgba(33,40,81,0.91) 100%);
  }
}

/* title-block */
.title-block svg {
  width: 45px;
  max-height: 9px;
}

/* banner */
.banner {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -61px;
    left: 0;
    width: 231px;
    height: 386px;
    background: url("../images/decor/decor-zig-zag-color.png") no-repeat;
    z-index: 3;
  }
  /*&::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $foreground;
    mix-blend-mode: color;
    z-index: 1;
  }*/
  &--static-height {
    height: 934px;
  }
}
.banner__picture {
  display: block;
  position: relative;
  background-color: $base;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $foreground;
    mix-blend-mode: multiply;
    z-index: 1;
  }
 }
.banner__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  background-position: center;
  filter: grayscale(100%) contrast(1) blur(0);
  mix-blend-mode: screen;
}

/* footer */
.footer {
  position: relative;
  background-color: $base;
  color: #fff;
}
.footer__stratis {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  a {
    display: inline-block;
    font-weight: 700;
    background-color: #c70000;
    padding: 2px 9px;
    margin-left: 17px;
  }

}

/* footer-btn */
.footer-btn {
  position: absolute;
  bottom: 22px;
  right: 28px;
  left: 28px;
  padding: 8px 42px 7px 58px;
  background-color: $secondary-bg;
  font-size: 16px;
  font-weight: 700;
  color: $base;
  border-radius: 6px 6px 0 0;
  transition: background-color .2s;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 28px;
    height: 14px;
    background: url("../images/icons/icon-butterfly.png");
  }
  &:hover {
    background-color: #fff;
  }
  @media (min-width: 479px) {
    position: absolute;
    bottom: 0;
    left: 40px;
    right: auto;
  }
  @media (min-width: 767px) {
    left: 70px;
  }
}

/* site-infos */
.site-infos {
  padding: 50px 0 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 767px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 28px 60px;
  }
}
.site-infos__img {
  margin: 0 0 40px;
  @media (min-width: 767px) {
    margin: 0 55px 55px 0;
  }
}
.site-infos__address {
  margin: 0 0 55px;
}
.site-infos__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px;
  .social-networks {
    display: flex;
  }
  @media (min-width: 767px) {
    margin: 0 50px 55px 0;
  }
}
.site-infos__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px;
  @media (min-width: 767px) {
    align-items: flex-start;
  }
}

/* address */
.address {
  font-style: normal;
  @media (min-width: 767px) {
    display: flex;
  }
}
.address__location {
  max-width: 242px;
  margin: 0 0 25px;
  @media (min-width: 767px) {
    margin: 0 10px 0 0;
  }
}
.address__location-title, .address__location-desc {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 767px) {
    text-align: left;
  }
}
.address__location-title {
  font-weight: 700;
}
.address__location-desc {
  font-weight: 300;
}
.address__hours {
  max-width: 210px;
  margin: 0 auto;
  @media (min-width: 767px) {
    margin: 0 30px 0 0;
  }
}
.address__hours-title {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.address__hours-desc {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  @media (min-width: 1200px) {
    flex-direction: column;
  }
}
.address__hours-col {
  @media (max-width: 1199px) {
    &:not(:first-child) {
      margin: 0 0 0 30px;
    }
  }
}

/* link */
.link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 15px 6px 54px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &--contact {
    &::before {
      left: 11px;
      width: 31px;
      height: 23px;
      background: url("../images/icons/icon-letter.png");
    }
  }
  &--move {
    &::before {
      left: 0;
      width: 42px;
      height: 33px;
      background: url("../images/icons/icon-head.png");
    }
  }
  &:hover {
    text-decoration: underline;
  }
  &:not(:first-child) {
    margin: 15px 0 0;
  }
}

/* btn */
.btn {
  display: block;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  padding: 10px 31px 10px 37px;
  color: $accent;
  border: 1px solid $accent;
  background-color: $base;
  transition: color .2s, background-color .2s;
  @media (min-width: 1023px) {
    font-size: 16px;
  }
  &::before {
    content: '\e925';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 16px;
    font-family: icomoon;
  }
  &:hover {
    background-color: $accent;
    color: $base;
  }
  &:not(:first-child) {
    margin: 20px 0 0;
  }
}

/* menu-cross */
.menu-cross {
  @media (min-width: 767px) {
    display: flex;
  }
}
.menu-cross__btn {
  margin: 0 0 45px;
  @media (min-width: 767px) {
    margin: 8px 30px 0 0;
  }
}
.menu-cross__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px;
  @media (min-width: 767px) {
    margin: 0;
  }
}
.menu-cross__link {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 10px 0 16px;
  &::before {
    content: '\e925';
    position: absolute;
    top: 0;
    left: 5px;
    color: $foreground;
    font-family: icomoon;
  }
  &:hover {
    text-decoration: underline;
  }
}